.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.field {
    font-size: 25px;
    font-weight: 500;
    padding: 5px 10px;
    width: 50vw;
    background: #fff;
    color: #000;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.tooltip {
    background: #16a085;
    padding: 10px 15px;
    position: absolute;
    transform: translateY(-35px);
    border-radius: 10px;
}