.gridWrap {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(75px * 3 + 100px);
}

.grid {
    transform-origin: center;
    transform: rotate(-45deg);
}

.row {
    display: flex;
}

.column {
    width: 75px;
    height: 75px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active {
    background-color: #2c3e50;
}

.time {
    transform: rotate(45deg);
    user-select: none;
}