.nav {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    align-items: center;
}

.nav > a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.nav > a:hover {
    color: #999;
}