.wrap {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    margin-top: 20px;
}

.canvas {
    height: 200px;
    width: 200px;
}